.comments-container{
    margin: 5px 0px;
    font-size: 14px;

    .section-comment{
        margin: 8px 0px;
        padding: 4px 0px;

        .username-text{
            margin: 5px 0px;  
        }
    }
}