@use '../../../theme/colors.scss' as *;

.profile-panel-container{
    width: 18%;
    height: 100%;
    background:#F6F6F6;
    position: fixed;
    // top: 3%;
    right: 0px;
    border-radius: 4px;
    z-index: 300;
    transition: all 0.3s;
    .profile-detail{
        width: 100%;
        height: 5%;
        padding: 10px;
        font-size: large;
        font-weight: 700;
        display: flex;
        align-items: center;
        
        
        .profile-image{
            width: 40px;
            height: 40px;
            background: #055015;
            border-radius: 50px;
        }
        .profile-username{
            width: 80%;
            padding-left: 10px;
        }

    }
    .items-container{
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items:flex-start;
    }

    .profile-item{
        width: 95%;
        margin: 5px 5px;
        align-self: center;

        button{
            width: 100%;
            height: inherit;
            border: none;
            border-radius: 5px;
            background-color: transparent;
            margin: 0;
            padding: 8px;
            text-align: left;
            align-self: center;
            display: flex;
            align-items:center;
            font-size: 12px;
        }
    }
}
.profile-panel-container.show{
    transform: translateX(0%);
}
.profile-panel-container.hide{
    transform: translateX(100%)
}
.primary{
    background: $gray-1;

    button:hover{
        background-color: $gray-3;
    }
}
.secondary{
    background: $dark-5;

    button:hover{
        background-color: $dark-7;
    }
}