

$dark-0: #C1C2C5;
$dark-2: #909296;
$dark-3: #5c5f66;
$dark-4: #373A40;
$dark-5: #2C2E33;
$dark-6: #25262b;
$dark-7: #1A1B1E;
$dark-9: #101113;

$gray-0: #f8f9fa;
$gray-1: #f1f3f5;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #DFDFDF;
$gray-6: #868E96;
$gray-7: #495057;
$gray-8: #343a40;

$red-0: #fff5f5;
$red-1: #ffe3e3;
$red-2: #ffc9c9;
$red-4: #ff8787;
$red-5: #ff6b6b;
$red-6: #fa5252;

$green-0: #ebfbee;
$green-1: #d3f9d8;
$green-3: #b2f2bb;
$green-5: #51cf66;

$blue-0: #e7f5ff;
$blue-1: #d0ebff;
$blue-2: #a5d8ff;
$blue-3: #74c0fc;
$blue-4: #4dabf7;
$blue-5: #339af0;

$grape-0: #f8f0fc;
$grape-1: #f3d9fa;
$grape-2: #eebefa;
$grape-3: #e599f7;
$grape-4: #da77f2;
$grape-7: #AE3EC9;

$yellow-0: #fff9db;
$yellow-1: #fff3bf;
$yellow-2: #ffec99;
$yellow-3: #ffe066;

$teal-9: #05523b;

$white: #FFFFFF;
$primary-color: $gray-1;
$secondary-color: $dark-3;
$success-background: $green-3;
$success-primary: $green-1;
$danger-primary: $red-4;
