.user-profile{
    display: flex;
    flex-direction: row;
    .user-profile-image-container{
        width: 20%;
        height: 20%;
        border-radius: 50%;
        margin-right: 30px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
            text-transform: capitalize;
        }
        .user-profile-image{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

}