.col-container, .col-collapse-false{
    width: 15%;
    margin-left: 10px;
    // border: 1px solid black;
    overflow: visible;
    // display: block;
}

.col-collapse-true{

    display: none;

}
